.profile__description {
  margin: 5px 0 0;
  color: white;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 318px;
}

@media screen and (max-width: 881px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 33px;
    text-align: center;
    width: 100%;
  }
}