.place__button-delete {
  position: absolute;
  top: 18px;
  right: 15px;
  background: url(../../../images/delete.svg) no-repeat;
  width: 18px;
  height: 19.3px;
  object-fit: cover;
  box-shadow: none;
  cursor: pointer;
  border: none;
}

.place__button-delete:hover {
  opacity: .6;
}
