@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/indent/indent.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/places/places.css);
@import url(./blocks/place/place.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/transition/transition.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/place/__button-like/_active/place__botton_active.css);
@import url(./blocks/place/__button-delete/_visibile/place__button-delete_visible.css);
@import url(./blocks/place/__button-delete/_hidden/place__button-delete_hidden.css);

@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
